@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
   font-family: "Poppins", sans-serif;
}
#sidebar {
   max-height: 100vh;
   max-width: 250px;
   min-width: 250px;
   background-color: #f8f9fa;
   padding: 1rem;
   border-right: 1px solid #dee2e6;
   display: flex;
   flex-direction: column;
   transition: all 0.35s ease-in-out;
}
#sidebar.collapsed {
   margin-left: -250px;
}
.main {
   min-height: 100vh;
   width: 100%;
   overflow: hidden;
}
.logo {
   width: 200px;
}
.nav-link {
   cursor: pointer;
}
.nav-link:hover {
   color: white;
   background-color:#fd0d39;
}
.profile {
   text-align: center;
   margin-bottom: 1.5rem;
}
.profile img {
   width: 100px;
   height: 100px;
   object-fit: cover;
   border-radius: 100%;
}
.profile h5 {
   margin-top: 0.5rem;
}

.navbar {
   padding: 0.5rem;
   border-bottom: 1px solid #dee2e6;
}
.toggler-btn {
   background-color: transparent;
   cursor: pointer;
   border: 0;
}

.toggler-btn i {
   font-size: 1.75rem;
   color: #000;
   font-weight: 1000;
}
.chartBox {
   width: 1000px;
   height: 450px;
}
